#header{
	width: 100%;
	height: 1px;
	margin-top:10%;
	margin-bottom:20px;
}

h2{
	color: white;
	text-align: center;
}

fieldset {
	background: #00000;
	padding: 10px;
}

legend {
	margin-top: 1px;
	font-weight: bold;
	color: white;
}

label {
	display: block;
	margin: 10px;
	position: relative;
	color: white;
	border:0px;
	
}
form{
	display:block;
	width:35%;
	margin: 0 auto;
}

input{
	width:50%;
	display:inline;
	float:right;
}
legend, label{
	color:'white';
	font-family:Arial;
}