img {
	width: 200;
	height: 100;
	border: 0;
	float: right;	
}

body {
	background-color:#000000;
}

#header{
	width: 100%;
	height: 1px;
	margin-top:10%;
	margin-bottom:20px;
}

h2{
	color: white;
	text-align: center;
}

a {
	color: white;
	}

fieldset {
	background: #00000;
	padding: 10px;
	width: 30%;
}

legend {
	margin-top: 1px;
	font-weight: bold;
	color: white;
}

label {
	display: block;
	margin: .2em;
	position: relative;
	color: white;
	border: 4px solid #000000;
	
}
input {
	left: 14em;
	position: absolute;
	top: -.1em;
}

input[type="submit"]{
  position: relative;
  margin-top:2px;
  right:90%;
  width: 110px;
  height: 50px;
  font-size: 15px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2c3e50;
  border: 0;
  border-radius:6px;
  border-bottom: 2px solid #22303f;
  -webkit-box-shadow: inset 0 -2px #22303f;
  box-shadow: inset 0 -2px #22303f;
  /*Button m체sste jetzt wieder sichbar sein... allerdings l채sst er sich nicht links anheften. Evtl so lassen oder noch mal ab채ndern -> ich w체sste nicht wie */
}


footer {
	position:absolute;
    bottom: 5%;
    width: 99%;
    height: 2em;
	color: white;
}


