body {
	background-color:#000000;
}

h2{
	color: white;
}

h4{
	color: white;
}

p {
	color: white;
}

a {
	color: white;
}

td {
	color: white;
}

img {
	width: 200;
	height: 100;
	border: 0;
	float: right;	
}

footer {
	position:absolute;
    bottom: 5%;
    width: 99%;
    height: 2em;
	color: white;
}