body {
	background-color:#000000;
}


img {
	width: 220px;
    height: 150px;
    position: absolute;
    left: 43%;
    top: 17%;
	/* Bekomme es nicht hin, dass es im Header integriert ist, so passst es sich nicht dynamisch an und crasht die Optik beim Ändern der Seitengröße*/
}

header{
	/* background: url(../graphic/logos/Shopanalytics.png) no-repeat center; */
	width: 100%;
	height: 100px;
	margin-top:10%;
	margin-bottom:20px;
	margin-left: auto;
	margin-right: auto;

}

fieldset{
	border: 0px;
}

form{
    text-align: center;
}

input[type="email"],
input[type="password"] {
	font-size:20px;
	padding: 15px 15px 15px 60px;
}

/*input[type="submit"]{
	margin-top:20px;
	font-size:20px;
	padding:5px;
	border-radius:6px;
} */

#username{
	background: url(../graphic/icons/users.png) no-repeat 12px 12px #fff;
	border-radius:6px 6px 0px 0px;
}

#password{
	background: url(../graphic/icons/key.png) no-repeat 12px 12px #fff;
	border-radius:0px 0px 6px 6px;
}

input[type="submit"]{
  position:relative;
  margin-top:20px;
  right:50%;
  float:right;
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2c3e50;
  border: 0;
  border-radius:6px;
  border-bottom: 2px solid #22303f;
  -webkit-box-shadow: inset 0 -2px #22303f;
  box-shadow: inset 0 -2px #22303f;
}
input[type="submit"] :hoover {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a {
	color: #FFFFFF;
}

footer {
	position:absolute;
    bottom: 0%;
    width: 99%;
    height: 2em;
	background: #036;
	text-align: center;
}
